body{
    margin:0;padding:0;border:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*导航条*/
#top{
    background:#700005;
}
#top a{
    color:#e5e3e3;font-size:14px;
}
#top a:hover{
    color:white;text-decoration: none;
}
#top .nav li{
    margin-right:-10px;
}
#top .nav{
    padding-left:80px;
}
#top .navbar-nav li a{
    padding-top:6px;height:30px;
}


/*logo部分*/
.row-logo .col-md-12{
    background-image: url(../images/logo.png);
    background-size: cover;
    height:100px;
}
.row-logo .col-md-12 img{
    margin-left:100px;
    margin-top:20px;
}

/*列表部分*/
.row-list{
    height:40px;
}
.row-list .col-md-12 a{
    color:#333333;
    font-size: 16px;
}
.row-list .nav {
    height: 44px;
}
.row-list .nav li{
    width:140px;height:44px;text-align: center;
}
.row-list .nav li a:hover{
    background:#8f000b;color:white;
}


/*鼠标显示*/
.floor1 .col-md-4,.floor2 .col-md-4,.floor3 .col-md-4,.floor4 .col-md-4,.floor5 .col-md-4,.floor6 .col-md-4,.floor7 .col-md-4{
    padding-left:40px;
}
.floor1,.floor2,.floor3,.floor4,.floor5,.floor6,.floor7{
    width:100%;height:170px;padding-top:20px;display:none;position:absolute;z-index: 10;background: #fff;
}
.floor1 .red li a,.floor2 .red li a,.floor3 .red li a,.floor4 .red li a,.floor5 .red li a,.floor6 .red li a,.floor7 .red li a{
    color:#7c0000;  text-decoration: none;font-size: 16px;
}
.floor1 .red,.floor2 .red,.floor3 .red,.floor4 .red,.floor5 .red,.floor6 .red,.floor7 .red{
    padding-left:0px;margin-left:20px;
}
.floor1 ul li a,.floor2 ul li a,.floor3 ul li a,.floor4 ul li a,.floor5 ul li a,.floor6 ul li a,.floor7 ul li a{
    color:#787878;font-size:14px;text-decoration: none;
}
.floor1 ul li a:hover,.floor2 ul li a:hover,.floor3 ul li a:hover,.floor4 ul li a:hover,.floor5 ul li a:hover,.floor6 ul li a:hover,.floor7 ul li a:hover{
    color:#8c0000;
}


/*主图部分*/
.mainimg .up{
    width:190px;height:78px;background:#8a0106;opacity: 0.8;position:absolute;top:318px;
}
.mainimg span{
    display:block;color:#fff;z-index:20;font-size:30px;line-height:78px;text-align: center;
}



/*主体文字*/
.word{
    margin-top:50px;
}
.word .col-md-9 .title{
    padding-left:16px;
}
.word .title h1{
    float:left;position:relative;top:-20px;font-size:24px;font-weight:bold;color:#565656;display:block;border-bottom: 3px solid #9b0000;width:150px;height:64px;line-height:64px;text-align: center;
}
.word .wordleft li{
    margin:20px;list-style-type: none;width:160px;
}
.word .wordleft li a{
    color:#565656;font-size: 16px;
}
.word .wordleft li a:hover{
    color:#9b0000;text-decoration: none;
}






/*底部导航*/
.footerbg{
    background-image: url(../images/f_bg.jpg);height:216px;margin-top:40px;
}
.footernav{
    padding-top:20px;
}
.footernav .col-md-4 .col-md-6{
    padding-left:30px;
}
.footernav .col-md-4 .col-md-6 ul{
    padding-top:40px;
}
.footernav .col-md-4 .col-md-6 ul li{
    margin-bottom:10px;
}
.footernav .col-md-4 .col-md-6 ul li a{
    font-size: 14px;color:#fff;padding-left:10px;
}
.footernav .col-md-4 .col-md-6 ul li a:hover{
    color:#000;text-decoration: none;
}
.footernav .logo{
    padding-top:50px;padding-left:70px;
}
.footernav .code{
    padding:40px;
}
.footernav .code .row{
    margin-top:10px;
}
.footernav .code .row a:hover{
    opacity: 0.8;filter:alpha(opacity=80);
}

/*底部版权*/
.bottom .row{
    background-color:#000;height:32px;font-size:12px;color:#fff;line-height:32px;
}
.bottom span {
    margin:0 24px;
}